.btn-green{
	background-color: #77a464;
	border-radius:  4px;
	color: white;
	font-weight: bold;
	font-family: 'Lora', serif;
	padding: 15px 20px;

}

.btn-green:hover {
	background-color: white;
	color: #77a464;
}